@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1380px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}
button:hover .text-xs {
  opacity: 1;
  /* top: 3rem; */
}
::-webkit-scrollbar {
  display: none;
}
